/* PALETA DE COLORES DE LA APP */
:root {
    --red: #da2c38ff;
    --black: #0d1317ff;
    --white: #fffaffff;
    --grey: #4c565bff;
    --green: #0cce6bff;
}

/* ESTILOS GENERALES DE LA APLICACION */
* {
    margin: 0;
    padding: 0;
    width: 100%;
    font: 16px "Raleway", sans-serif;
    background-color: var(--black);
    color: var(--white);
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

h2 {
    padding: .5em;
    font: 2em "Fjalla One", sans-serif;
    color: var(--grey);
}

/* ESTILOS DEL HEADER */
.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    border-bottom: 1px solid var(--grey);
}

h1 {
    width: 30%;
    padding: .5em;
    font: 2.5em "Fjalla One", sans-serif;
    color: var(--green);
}

.navbar {
    width: 70%;
    padding: .5em;
    margin: auto;
}

.navbar__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.navbar__list__item {
    width: fit-content;
    margin: auto;
}

.navbar__list__item a {
    font: 1.5em "Fjalla One", sans-serif;
}

/* ESTILOS DEL MAIN CONTAINER */
.main__container {
    padding: 1em;
    margin: auto;
}

/* ESTILOS DE LA CARDLIST CONTAINER Y DE LAS CARDS INDIVIDUALES */
.cardlist__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 1em;
    padding: 1em;
}

.card__container {
    margin: .5em;
    width: 350px;
    padding: 1em;
    border: 1px solid var(--green);
    border-radius: 10px;
}

.card__name, .article__name {
    font: 1.5em "Fjalla One", sans-serif;
    color: var(--green);
}

.card__description, .article__description {
    width: fit-content;
    font-style: italic;
}

.card__container > div, .article__container > div {
    margin: .3em;
    padding: .5em;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
}

.card__price, .article__price {
    text-align: end;
    font: 1.3em "Fjalla One", sans-serif;
    color: var(--green);
}

.btn__detail {
    width: 50%;
}

/* ESTILOS DE VER DETALLE */
.article__container, .error__container {
    width: 50%;
    margin: auto;
    padding: 1em;
    border: 1px solid var(--green);
    border-radius: 10px;
}

.article__name, .article__description {
    margin: .5em;
    font-size: 2em;
}

.article__description {
    font-size: 1.5em;
}

.article__category__container, .article__stock__container {
    width: 50%;
}

.article__category, .article__category__container > label, .article__stock__container > label, .article__stock__container i {
    font-size: 1.5em;
}

.article__price {
    padding: .5em;
    font-size: 2em;
}

/* ESTILOS DE LA TABLA DE PRODUCTOS */
.listproduct__container, .login__container, .product__container {
    margin: 1em auto;
    text-align: center;
    padding: 1em;
    width: 80%;
    border: 1px solid var(--green);
    border-radius: 10px;
}

table {
    margin: 1em auto;
}

th {
    font-weight: bold;
}

th, td, td > i {
    padding: .5em;
    text-align: center;
    width: fit-content;
    background-color: var(--white);
    color: var(--black);
}

/* ESTILOS DE BOTONES DE ACCIONES */
.btn__edit, .btn__insert, .btn__delete, .btn__detail {
    background-color: var(--green);
    color: var(--black);
    font-weight: bold;
    padding: .3em;
    border: none;
    border-radius: 4px;
}

.listproduct__btncontainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.listproduct__btncontainer > a {
    margin: .3em;
}

.btn__insert {
    margin: auto;
}

.btn__delete {
    background-color: var(--red);
}

/* ESTILOS DEL FORMULARIO DE LOGIN */
.login__container, .product__container {
    width: 50%;
}

.form__login, .form__product {
    width: 80%;
    margin: auto;
    text-align: start;
    background-color: var(--white);
    color: var(--black);
}

.form__login > div, .form__product > div {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__login > div > label, .form__product > div > label {
    width: fit-content;
    margin: .5em;
}

.form__login > button, .form__product > button {
    width: 50%;
}

input, select, option {
    width: 70%;
    padding: .3em;
}

/* ESTILOS DEL FORMULARIO DE PRODUCTO */
.div__radiobtn {
    margin: auto;
    width: 70%;
}

.div__radiobtn > label, .div__radiobtn > input {
    margin: auto;
}

/* ESTILOS DEL FOOTER */
.footer {
    margin: auto;
    padding: .5em;
    background-color: var(--green);
    color: var(--black);
    position: fixed;
    bottom: 0;
}

.footer__text {
    margin: auto;
    font-style: italic;
    align-items: baseline;
    width: fit-content;
    color: var(--black);
    background-color: transparent;
}